@charset "UTF-8";

body {
	background-color: #ecece2;
}

h1 {
	color: #333;
	font-size: 50px;
}
ul {
	list-style: none;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 40px;
	display: block;
	cursor: pointer;
}
.hidden {
	display: none;
}