@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
}

body {
	background-color: #ecece2;
}

a {
	text-decoration: none;
}
ul li {
	list-style: none;
}

h1 {
	color: #333;
	font-size: 50px;
}
ul {
	list-style: none;
}
h1, h2, h3 {
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	background-color: #cccf00;
	height: calc(100vh - 50px);
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 40px;
	display: block;
	cursor: pointer;
}

.hidden {
	display: none;
}

.themes {
	width: 70vw;
}

.theme {
	margin:  20px;
	min-height: 40px;
	background-color: #ddd;
	
	display: flex;
	font-size: 30px;
	color: #333;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
}
.theme > a {
	color: red;
	font-family: Arial, Sans-Serif;
}

.theme > a:hover {
	color: blue;
}

.footer {
	min-height: 50px;
	background-color: brown;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}