<!DOCTYPE html>
<html>
<div th:replace="fragments/_header::header"></div>
<body>
	<div class="container">
		<div th:include="fragments/_header::title"></div>

		<form th:action="@{/saveCard}" th:object="${card}" method="post">
			<input type="text" th:field="*{question}" />
			<input type="text" th:field="*{answer}" />
			<input type="hidden" th:value="*{theme.id}" th:attr="name='theme'"/>
			<input type="submit" value="Save Card" />
		</form>
	</div>
	<div th:replace="fragments/_footer::footer"></div>
	<div th:replace="fragments/_footer::script"></div>
</body>
</html>