<!DOCTYPE html>
<html>
	<div th:replace="fragments/_header::header"></div>
<body>
	<div class="container">
	<div th:include="fragments/_header::title"></div>
	<a class="btn btn-primary" th:href="@{/addNewTheme}">Add New Theme <i class="fa-solid fa-plus"> </i></a>
	
		<ul class="themes" th:each="theme : ${listThemes}">
			<li class="theme">
				<div class="wrapper">
					<a  class="theme-title" th:text="${theme.name}" th:href="@{/theme-{id}/{name}(id=${theme.id}, name=${theme.name})}"></a>
					<div class="rightElementContainer">
						<a href="#" class="caret"><i class="fa-solid fa-caret-down"></i></a>
						<a class="delete" th:href="@{/deleteTheme/{id}(id=${theme.id})}"><i class="fa-solid fa-trash"></i></a>
					</div>
				</div>
				<div class="description hidden">
					<div class="boxes">
						<div class="box">Today</div>
						<div class="box">Tomorrow</div>
						<div class="box">Next Week</div>
						<div class="box">Next Month</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div th:replace="fragments/_footer::footer"></div>
	<div th:replace="fragments/_footer::script"></div>
</body>
</html>