<!DOCTYPE html>
<html>
	<div th:replace="fragments/_header::header"></div>
<body>
<h1>[[${pageTitle}]]</h1>
	<div class="container">
	<a th:href="@{/addNewTheme}">Add New Theme</a>
		<ul th:each="theme : ${listThemes}">
			<li>
				<a  th:text="${theme.name}" th:href="@{/theme-{id}/{name}(id=${theme.id}, name=${theme.name})}"></a>
				<a th:href="@{/deleteTheme/{id}(id=${theme.id})}">Delete</a>
			</li>
		</ul>
	</div>
	<div th:replace="fragments/_footer::footer"></div>
	<div th:replace="fragments/_footer::script"></div>
</body>
</html>