<!DOCTYPE html>
<html>
<div th:replace="fragments/_header::header"></div>
<body>
	<div class="container">
		<div th:include="fragments/_header::title"></div>

		<div class="boxes">
		<div class="box">Today</div>
		<div class="box">Tomorrow</div>
		<div class="box">Next Week</div>
		<div class="box">Next Month</div>
		<div class="box">Review</div>
			
		</div>
		<div class="create-card-section">
			<a class="btn" th:href="@{/theme-{id}/newCard(id=${theme.id})}">Create Card</a>
		</div>
	</div>
	<div th:replace="fragments/_footer::footer"></div>
	<div th:replace="fragments/_footer::script"></div>
</body>
</html>