<!DOCTYPE html>
<html>
<div th:replace="fragments/_header::header"></div>
<body>
	
	<div class="main-wrapper">
		<div th:replace="fragments/_sidebar::sidebar"></div>	
		<div class="container">
			<div th:include="fragments/_header::title"></div>
			<!--<div th:each="element : ${listThemeCards}">
				<a th:href="@{/card-{id}(id=${element.id})}" th:text="${element.question}"></a>
			</div>
			-->
			<!-- CARDS -->
			<div class="boxes">
				<div th:each="box : ${listBoxes}">
					<div class="box">
						<span  th:text="${box.name}"></span>
						<div class="boxMiddleContent">
							<a th:href="@{/{theme}/box-{boxId}(theme=${theme.name}, boxId=${box.id})}">See all cards</a>
							<a th:href="@{/{theme}/box-{boxId}/learn(theme=${theme.name}, boxId=${box.id})}">Learn</a>
						</div>
						<div class="amountCards" th:text="'cards: '+ ${box.getCardsByTheme(theme).size()}">
						</div>
					</div>
				</div>
			</div>
			<!-- CREATE NEW CARD -->
			<div class="create-card-section">
				<h2>Add new Card</h2>
				<form th:action="@{/saveCard}" th:object="${card}" method="post">
					<div class="form-wrapper">
						<div class="input-wrapper">
							<label for="question">add question:</label>
							<input type="text" th:field="*{question}" />
						</div>
						<div class="input-wrapper">
							<label for="answer">add answer:</label>
							<input type="text" th:field="*{answer}" />
						</div>
					</div>
						<input type="submit" value="Save Card" />
						<input type="hidden" th:value="*{theme.id}" th:attr="name='theme'"/>
				</form>
			</div>
		</div>
	</div>
	<div th:replace="fragments/_footer::footer"></div>
	<div th:replace="fragments/_footer::script"></div>
</body>
</html>